<div>
  <header class="px-4 pt-4">
    <h1>Example</h1>
  </header>

  <div class="px-4 py-4 flex-row content-between">
    <app-alert-message type="error" message="Something wrong happened."></app-alert-message>
    <br>
    <app-alert-message type="warning" message="Guarda!"></app-alert-message>
    <br>
    <app-alert-message type="success" message="Everything is ok."></app-alert-message>
  </div>

  <div class="grid grid-cols-3 gap-4">
    <app-card title="Some Title"> </app-card>
    <app-card title="Some Other Title"></app-card>
    <app-card title="A Different Title"></app-card>
  </div>

  <div class="container">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4">
      Button
    </button>

    <button class="btn btn-blue">
      Button Extracted
    </button>
  </div>

  <br>
  <form class="bg-white shadow-md rounded px-8 pt-8 pb-4 mb-4 ml-4 w-6/12 clearfix relative border-gray-700 border-solid">
    <h2 class="absolute bg-blue-700 text-white px-8 py-2 -top-2 -left-1">Enter details</h2>
    <div class="mb-4">
      <app-text-input></app-text-input>
    </div>
    <div class="mb-4">
      <app-text-input class="mb-4"></app-text-input>
    </div>
    <button class="btn btn-blue right-0 float-right">Submit</button>
  </form>


</div>
